Repository LimpingPebble/StoneEngine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @LimpingPebble/scene, @LimpingPebble/render, gboucett@student.42.fr

.github/CODEOWNERS:

# Allow only members of the scene team to modify the Scene module
/Engine/Scene       @LimpingPebble/scene

# Allow only members of the scene team to modify the Render module
/Engine/Render      @LimpingPebble/render

# Allow only members of the CMake team to modify cmake config files
CMakeLists.txt      gboucett@student.42.fr
*.cmake             gboucett@student.42.fr
/cmake              gboucett@student.42.fr
/CMakePresets.json  gboucett@student.42.fr

Split VulkanDevice from VulkanRenderer
  Engine/Render/include/Render/VulkanRenderer.hpp
  Engine/Render/include/Render/VulkanSettings.hpp
  Engine/Render/src/Render/VulkanDevice.cpp
  Engine/Render/src/Render/VulkanDevice.hpp
  Engine/Render/src/Render/VulkanRenderer.cpp
  Engine/Render/src/Render/VulkanRenderer_ISceneRenderer.cpp
  Engine/Render/src/Render/VulkanUtilities.cpp
  Engine/Render/src/Render/VulkanUtilities.hpp
  Engine/Window/src/Window/GlfwWindow.cpp
Owners: @LimpingPebble/render

Move vulkan related renderer to Vulkan folder
  Engine/Render/include/Render/Vulkan/VulkanRenderer.hpp
  Engine/Render/include/Render/Vulkan/VulkanSettings.hpp
  Engine/Render/src/Render/Vulkan/VulkanDevice.cpp
  Engine/Render/src/Render/Vulkan/VulkanDevice.hpp
  Engine/Render/src/Render/Vulkan/VulkanRenderer.cpp
  Engine/Render/src/Render/Vulkan/VulkanRendererObjectManager.cpp
  Engine/Render/src/Render/Vulkan/VulkanRendererObjectManager.hpp
  Engine/Render/src/Render/Vulkan/VulkanRenderer_ISceneRenderer.cpp
  Engine/Render/src/Render/Vulkan/VulkanUtilities.cpp
  Engine/Render/src/Render/Vulkan/VulkanUtilities.hpp
  Engine/Window/src/Window/GlfwWindow.cpp
Owners: @LimpingPebble/render

Split VulkanSwapChain from VulkanRenderer
  Engine/Render/include/Render/Vulkan/VulkanRenderer.hpp
  Engine/Render/src/Render/Vulkan/VulkanDevice.cpp
  Engine/Render/src/Render/Vulkan/VulkanDevice.hpp
  Engine/Render/src/Render/Vulkan/VulkanRenderer.cpp
  Engine/Render/src/Render/Vulkan/VulkanSwapChain.cpp
  Engine/Render/src/Render/Vulkan/VulkanSwapChain.hpp
Owners: @LimpingPebble/render

Create swapchain from modifiable properties
  Engine/Render/src/Render/Vulkan/VulkanDevice.cpp
  Engine/Render/src/Render/Vulkan/VulkanDevice.hpp
  Engine/Render/src/Render/Vulkan/VulkanRenderer.cpp
  Engine/Render/src/Render/Vulkan/VulkanSwapChain.cpp
  Engine/Render/src/Render/Vulkan/VulkanSwapChain.hpp
  Engine/Render/src/Render/Vulkan/VulkanSwapChainProperties.hpp
Owners: @LimpingPebble/render

Split FramesRenderer and RenderPass from VulkanSwapChain
  Engine/Render/include/Render/Vulkan/VulkanRenderer.hpp
  Engine/Render/src/Render/Vulkan/VulkanDevice.cpp
  Engine/Render/src/Render/Vulkan/VulkanFramesRenderer.cpp
  Engine/Render/src/Render/Vulkan/VulkanFramesRenderer.hpp
  Engine/Render/src/Render/Vulkan/VulkanRenderPass.cpp
  Engine/Render/src/Render/Vulkan/VulkanRenderPass.hpp
  Engine/Render/src/Render/Vulkan/VulkanRenderer.cpp
  Engine/Render/src/Render/Vulkan/VulkanSwapChain.cpp
  Engine/Render/src/Render/Vulkan/VulkanSwapChain.hpp
Owners: @LimpingPebble/render

Rename all vulkan renderer modules into namespace
  Engine/Render/include/Render/Vulkan/VulkanRenderer.hpp
  Engine/Render/include/Render/Vulkan/VulkanSettings.hpp
  Engine/Render/src/Render/Vulkan/Device.cpp
  Engine/Render/src/Render/Vulkan/Device.hpp
  Engine/Render/src/Render/Vulkan/FramesRenderer.cpp
  Engine/Render/src/Render/Vulkan/FramesRenderer.hpp
  Engine/Render/src/Render/Vulkan/RenderPass.cpp
  Engine/Render/src/Render/Vulkan/RenderPass.hpp
  Engine/Render/src/Render/Vulkan/RendererObjectManager.cpp
  Engine/Render/src/Render/Vulkan/RendererObjectManager.hpp
  Engine/Render/src/Render/Vulkan/SwapChain.cpp
  Engine/Render/src/Render/Vulkan/SwapChain.hpp
  Engine/Render/src/Render/Vulkan/SwapChainProperties.hpp
  Engine/Render/src/Render/Vulkan/VulkanRenderer.cpp
  Engine/Render/src/Render/Vulkan/VulkanRenderer_ISceneRenderer.cpp
  Engine/Render/src/Render/Vulkan/VulkanUtilities.cpp
  Engine/Render/src/Render/Vulkan/VulkanUtilities.hpp
  Engine/Window/src/Window/GlfwWindow.cpp
Owners: @LimpingPebble/render

rendering frame
  Engine/Render/include/Render/Vulkan/VulkanRenderer.hpp
  Engine/Render/src/Render/Vulkan/Device.hpp
  Engine/Render/src/Render/Vulkan/FramesRenderer.cpp
  Engine/Render/src/Render/Vulkan/FramesRenderer.hpp
  Engine/Render/src/Render/Vulkan/RendererObjectManager.cpp
  Engine/Render/src/Render/Vulkan/SwapChain.cpp
  Engine/Render/src/Render/Vulkan/SwapChain.hpp
  Engine/Render/src/Render/Vulkan/VulkanRenderer.cpp
  Engine/Render/src/Render/Vulkan/VulkanRenderer_ISceneRenderer.cpp
  Engine/Utils/include/Utils/DispatchQueue.hpp
  Engine/Window/src/Window/GlfwWindow.cpp
Owners: @LimpingPebble/render

Vulkan RenderContext
  Engine/Render/src/Render/Vulkan/RenderContext.hpp
  Engine/Render/src/Render/Vulkan/VulkanRenderer_ISceneRenderer.cpp
  Engine/Scene/include/Scene/RenderContext.hpp
Owners: @LimpingPebble/render, @LimpingPebble/scene

graphic pipeline in IRendererObject
  Engine/Render/src/Render/Vulkan/RendererObjectManager.cpp
  Engine/Render/src/Render/Vulkan/RendererObjectManager.hpp
  Engine/Render/src/Render/Vulkan/VulkanRenderableNode/MeshNode.cpp
  Engine/Render/src/Render/Vulkan/VulkanRenderableNode/MeshNode.hpp
  Engine/Render/src/Render/Vulkan/VulkanRenderer.cpp
  Engine/Render/src/Render/Vulkan/VulkanRenderer_ISceneRenderer.cpp
Owners: @LimpingPebble/render

Binding vertices and attributes in pipeline description
  Engine/Render/src/Render/Vulkan/VulkanRenderableNode/MeshNode.cpp
  Engine/Render/src/Render/Vulkan/VulkanRenderableNode/VertexBinding.hpp
  Engine/Scene/include/Scene/Vertex.hpp
  Engine/Scene/src/Scene/Vertex.cpp
  shaders/shader.vert
Owners: @LimpingPebble/render, @LimpingPebble/scene

Vertex buffer creation
  Engine/Render/src/Render/Vulkan/Device.cpp
  Engine/Render/src/Render/Vulkan/Device.hpp
  Engine/Render/src/Render/Vulkan/VulkanRenderableNode/MeshNode.cpp
  Engine/Render/src/Render/Vulkan/VulkanRenderableNode/MeshNode.hpp
  Engine/Render/src/Render/Vulkan/VulkanRenderableNode/VertexBinding.hpp
  examples/scop/main.cpp
Owners: @LimpingPebble/render

Vertex shader update with vertex layout
  shaders/shader.vert
Owners: none

geometryShader not working on metal
  Engine/Render/src/Render/Vulkan/Device.cpp
Owners: @LimpingPebble/render

fix compilation issue on linux due to include missing
  Engine/Render/src/Render/VulkanUtilities.hpp
  Engine/Scene/src/Scene/Node/Node.cpp
Owners: @LimpingPebble/render, @LimpingPebble/scene

disables by default system's glm
  CMakePresets.json
Owners: gboucett@student.42.fr

fix typo on GLM variable
  CMakeLists.txt
Owners: gboucett@student.42.fr

fixes issue on clang-tidy that prints warnings for glm
  .clang-tidy
Owners: none

Remove useless headers
  Engine/Scene/src/Scene/Node/CameraNode.cpp
  Engine/Scene/src/Scene/Node/LightNode.cpp
Owners: @LimpingPebble/scene

fix formatting
  Engine/Render/src/Render/VulkanUtilities.hpp
  Engine/Scene/src/Scene/Node/Node.cpp
Owners: @LimpingPebble/render, @LimpingPebble/scene
